<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment = "footer">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    footer{
    border-top: 1px solid #dcdcdc;
    position : absolute;
    bottom:0;
    width:100%;
    align:center;
    }
</style>

<body>

<br><br><br><br>
<footer >
    <div class="footer" align="center">

        <div class="foot_1">
            <h2>Yoru Hina</h2>
            <p>Address | 36th floor, 300, Olympic-ro, Songpa-gu, Seoul, Republic of Korea<br>
                <a href="/">https://YoruHana.co.kr</a></p>
        </div>


    </div>
</body>
</html>