<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment = "footer">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    footer{
    border-top: 1px solid #dcdcdc;

    width:100%;
    align:center;
    }
</style>

<body>

<br><br><br><br>
<footer >
    <div class="footer" align="center">

        <div class="foot_1">
            <h2>YoruHana</h2>
            <p>Address | 36th floor, 300, Olympic-ro, Songpa-gu, Seoul, Republic of Korea<br>
                <a href="/">https://YoruHana.co.kr</a></p>
        </div>

        <div id="google_translate_element" class="hd_lang"></div>
    </div>
</body>
</html>