<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment = "header">
<head>
    <meta charset="UTF-8">
    <title>YoruHana</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="/css/header.css" />
<link type="text/css" rel="stylesheet" href="/css/common.css" />

<body>
    <div id = "header" align="center">
        <div style="height:120px;">
            <h3 id="logo"><a href = "/"><img src="/img/main.png" style="width:230px;"></a></h3>
        </div>
        <div id="title" th:text="${session.title}"></div>
        <div id="nav" class="navbar-nav me-auto mb-2 mb-lg-0">

            <ul id="nav_item">
                <li th:if="${session.nick}==null"><a href = "/loginForm.do">Login</a></li>
                <li th:if="${session.nick}==null"><a href = "/joinForm.do">Join</a></li>
                <li><a href="/groundForm.do">Ground</a></li>
                <li><a href="/searchPenpalForm.do">SearchPenpal</a></li>
                <li><a href="/chatBasic.do">Mesaage</a></li>
                <li><a><img src="/img/bell.svg" id="bell"></a>

                    <ul id="drop1" >
                        <li><a href="#">알림1</a></li>
                        <li><a href="#">알림2</a></li>
                        <li><a href="#">알림3</a></li>
                    </ul>

                </li>
                <li id="drop_li">
                    <div id="img_box_header">
                        <a href="#" id ="menu" th:if ="${session.file}==null or ${session.file}==''" class ="menu">
                            <img th:src = "@{/upload/} + 'person-circle.svg'" id="none_pic">
                        </a>
                        <a href="#" id ="menu2" th:if ="${session.file} != ''">
                            <img th:src="@{/upload/} + ${session.file}" id="mb_file" class ="menu">
                        </a>
                    </div>
                    <ul id="drop2" >
                        <li th:if="${session.no} != null"><a href="/profile.do">Profile</a></li>
                        <li th:if="${session.no} != null"><a href="/mypageCon.do" >Mypage</a></li>
                        <li th:if="${session.no} != null"><a href="/logout.do" >Logout</a></li>
                        <li th:if="${session.no} != null"><a href="#" >Setting</a></li>

                        <li th:if="${session.no} == null"><a href="/require.do">Profile</a></li>
                        <li th:if="${session.no} == null"><a href="/require.do" >Mypage</a></li>
                        <li th:if="${session.no} == null"><a href="#" >Setting</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

	function googleTranslateElementInit() {
		new google.translate.TranslateElement({
			pageLanguage: 'ko',
			includedLanguages: 'ko,zh-CN,zh-TW,ja,vi,th,tl,km,my,mn,ru,en,fr,ar',
			//layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
			autoDisplay: false
		}, 'google_translate_element');
	};

	$(function(){
        $("#bell").click(function(){
           $("#drop1").slideToggle();
            $("#drop2").slideUp();
        });
     });

     $(function(){
        $(".menu").click(function(){
           $("#drop2").slideToggle();
           $("#drop1").slideUp();
        });
     });

    const bell = document.querySelector('#bell');

      bell.addEventListener('mouseover', () => {
      bell.src = '/img/bell-fill.svg';
    });

    // 마우스 아웃 시 다시 원래 이미지로 변경
    bell.addEventListener('mouseout', () => {
      bell.src = '/img/bell.svg';
    });

</script>

</html>


