<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/join.css" />

<body>


<div th:insert = "~{common/header :: header}"></div>

<div id="section" align="center">
  <h3>회원정보 변경</h3>
  <div >
    <form action="/mypageUpdate.do"  name="form1" method="post">
      <table>
        <tr>
          <th>나이 (만)</th>
        </tr>
        <tr>
          <th th:text="${vo.mb_bir}"></th>
        </tr>
        <tr>
          <th>국적</th>
        </tr>
        <tr>
          <th>
            <input type="text" id="mb_country" name="mb_country" th:value="${vo.mb_country}" readonly>
          </th>
        </tr>
        <tr>
          <th>닉네임</th>
        </tr>
        <tr>
          <th>
            <input type="text" id="mb_nick" name="mb_nick" autocomplete="off" th:value="${vo.mb_nick}" readonly>
          </th>
        </tr>
        <tr>
          <th>이름</th>
        </tr>
        <tr>
          <th>
            <input type="text" id="mb_name" name="mb_name" th:value="${vo.mb_name}" readonly>
          </th>
        </tr>
        <tr>
          <th>아이디</th>
        </tr>
        <tr>
          <th>
            <input type="text" id="mb_id" name="mb_id" th:value="${vo.mb_id}" readonly>
          </th>
        </tr>
        <tr>
          <th>새로운 비밀번호 [수정가능]</th>
        </tr>
        <tr>
          <th><input type="password" id="mb_pw" name="mb_pw"></th>
        </tr>
        <tr>
          <th>비밀번호 확인 [수정가능]</th>
        </tr>
        <tr>
          <th><input type="password" id="mb_pw_re" name="mb_pw_re"></th>
        </tr>
        <tr>
          <th>연락처 [수정가능]</th>
        </tr>
        <tr>
          <th>
            <input type="text" id="mb_tel1" name="mb_tel1" maxlength="3" style="width:30%;" th:value="${vo.mb_tel1}">-
            <input type="text" id="mb_tel2" name="mb_tel2" maxlength="4" style="width:30%;" th:value="${vo.mb_tel2}">-
            <input type="text" id="mb_tel3" name="mb_tel3" maxlength="4" style="width:30%;" th:value="${vo.mb_tel3}">
          </th>
        </tr>
        <tr>
          <th><input type="button" id="mypage_btn" class="button" value="수정하기" onclick="mypageSubmit();"></th>
        </tr>
      </table>
    </form>
  </div>
</div>

<div th:insert = "~{common/footer :: footer}"></div>

</body>
<script>
  function mypageSubmit(){


  let reg_pw = /^(?=.*?[a-z])(?=.*?[0-9]).{8,16}$/
  let f = document.form1;

  if(f.mb_pw.value == ""){
  alert("패스워드 항목은 필수 입력값입니다.");
  f.mb_pw.focus();
  return false;

  }else if(!reg_pw.test(f.mb_pw.value)) {
  alert("비밀번호는 8~16글자,숫자,소문자를 모두 포함해야 합니다.");
  f.mb_pw.focus();
  return false;

  }else if(f.mb_pw.value != f.mb_pw_re.value){
  alert("비밀번호와 비밀번호 확인 값이 일치하지 않습니다.");
  f.mb_pw.focus();
  return false;

  }else if(f.mb_tel1.value == ""){
  alert("연락처를 입력하지 않으셨습니다.");
  f.mb_tel1.focus();
  return false;

  }else if(f.mb_tel2.value == ""){
  alert("연락처를 입력하지 않으셨습니다.");
  f.mb_tel2.focus();
  return false;

  }else if(f.mb_tel3.value == ""){
  alert("연락처를 입력하지 않으셨습니다.");
  f.mb_tel3.focus();
  return false;

 }else{
   document.form1.submit();
   return;
  }

  }
</script>

</html>
