<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/profile.css" />
<style>


</style>


<body>


<div th:insert = "~{common/header :: header}"></div>

<div id="section" align="center">
    <h3 id="head">내 프로필</h3>
    <br><br>

    <div>
        <form action="/profileUpdateForm.do" name = "form1" method="post">
            <table>
                <input type = "hidden" th:value="${vo.mb_no}">

                <tr>
                    <td id = "mb_file" align="center">
                        <div align="center" id="img_box" >
                            <img id = "target_mb_file" name ="target_mb_file" th:src="@{/upload/} + ${vo.mb_file}" width="250px;" th:if="${vo.mb_file} != ''">
                            <img id = "target_mb_file" name ="target_mb_file" th:src="@{/upload/} + 'person-circle.svg'" width="250px;" th:if="${vo.mb_file} == ''">
                        </div>
                        <br>
                    </td>
                </tr>

              <!--  <tr th:if="${mb_file} == null">
                    <td id = "mb_file_null" align="center">
                        <div align="center" id="img_box_null">
                            <img id = "target_mb_file2" name ="target_mb_file" src="/img/person-circle.svg" width="250px;">
                        </div>
                        <br>
                    </td>
                </tr>-->

                <tr>
                    <th>조회 수 </th>
                </tr>
                <tr>
                    <th th:text="${vo.mb_see}"></th>
                </tr>
                <tr>
                    <th>국적</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" name = "mb_country" th:value="${vo.mb_country}" readonly>
                    </th>
                </tr>
                <tr>
                    <th>닉네임</th>
                </tr>
                <tr>
                    <th th:text="${vo.mb_nick}"></th>
                </tr>
                <tr>
                    <th>프로필 공개 여부
                        <span th:if="${vo.mb_prof_stat} == 0">
                          <input type = "radio" name = "mb_prof_stat" value = "0" checked>공개
                          <input type = "radio" name = "mb_prof_stat" value = "1" disabled>비공개
                        </span>
                        <span th:if="${vo.mb_prof_stat} == 1">
                          <input type = "radio" name = "mb_prof_stat" value = "0" disabled>공개
                          <input type = "radio" name = "mb_prof_stat" value = "1" checked>비공개
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>자기소개</th>
                </tr>
                <tr>
                    <th><textarea maxlength="1000" placeholder="최대 1000자" th:text="${vo.mb_prof_content}" style = "width:100%; min-height:250px;" readonly name = "mb_prof_content"></textarea></th>
                </tr>
                <tr>
                    <th>
                        <input type="button" value="프로필 등록/수정" class="button" style="width:100%" onclick="submitForm();">
                    </th>
                </tr>
            </table>
        </form>
    </div>
</div>



<div th:insert = "~{common/footer :: footer}"></div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function submitForm(){
    document.form1.submit();
    return false;
    }

</script>
</html>
