<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/common.css" />
<link type="text/css" rel="stylesheet" href="/css/profileUpdate.css" />

<body>


<div th:insert = "~{common/header :: header}"></div>

<div id="section" align="center">
  <h3 id="head">프로필 수정</h3>
  <br><br>

  <div>
    <form action="/profileUpdate.do" name = "form1" method="post" enctype="multipart/form-data">

       <!--사진 등록 모달-->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>사진 등록</h2>
            <div class="form-group">
              <div id = "img_box2">
                <img id = "target_mb_file2" name ="target_mb_file2" th:src="@{/upload/} + ${session.file}" width="250px;" th:if ="${session.file}!=''">
                <img id = "target_mb_file2" name ="target_mb_file2" th:src="@{/upload/} + 'person-circle.svg'" width="250px;" th:if ="${session.file}==''">
              </div>
              <input type="file" id="file" name="file"  style="display:none;" th:onchange="change_img(this);">
            </div>
            <input type="button" value = "확인" id="upload_img" onclick = "upload();">
        </div>
      </div>

      <!--사진 등록 버튼-->
      <input type="hidden" th:value = "${vo.mb_no}" name ="mb_no">
      <table>
        <tr>
          <td id = "mb_file_box" align="center">
            <div align="center" id="img_box">
              <img id = "target_mb_file" name ="target_mb_file" th:src="@{/upload/} + ${vo.mb_file}" width="250px;" th:if ="${session.file}!=''">
              <img id = "target_mb_file" name ="target_mb_file" th:src="@{/upload/} + 'person-circle.svg'" width="250px;" th:if ="${session.file}==''">
            </div>
            <br>
            <div>
             <input type="hidden" name = "mb_file" id = "mb_file" th:value="${session.file}">

             <input type="button" id="modalBtn" value="사진등록" style="width:250px;">
            </div>
          </td>
        </tr>
        <tr>
          <th>조회 수 </th>
        </tr>
        <tr>
          <th th:text="${vo.mb_see}"></th>
        </tr>
        <tr>
          <th>국적</th>
        </tr>
        <tr>
          <th>
            <input type="text" name = "mb_country" th:value="${vo.mb_country}" readonly>
          </th>
        </tr>
        <tr>
          <th>닉네임</th>
        </tr>
        <tr>
          <th>
            <input type="text" id = "mb_nick" name = "mb_nick" th:value="${vo.mb_nick}" readonly>
          </th>
        </tr>
        <tr>
          <th>프로필 공개 여부
            <span th:if="${vo.mb_prof_stat} == 0">
              <input type = "radio" name = "mb_prof_stat" value = "0" checked>공개
              <input type = "radio" name = "mb_prof_stat" value = "1">비공개
            </span>
            <span th:if="${vo.mb_prof_stat} == 1">
              <input type = "radio" name = "mb_prof_stat" value = "0" >공개
              <input type = "radio" name = "mb_prof_stat" value = "1" checked>비공개
            </span>
          </th>
        </tr>
        <tr>
          <th>자기소개</th>
        </tr>
        <tr>
          <th><textarea maxlength="1000" placeholder="최대 1000자" name = "mb_prof_content" style="width:100%; min-height:250px;" th:text="${vo.mb_prof_content}" ></textarea></th>
        </tr>
        <tr>
          <th>
            <input type="button" value="저장" class="button" style="width:100%" onclick = "submitProfile();">
          </th>
        </tr>

      </table>
    </form>
  </div>
</div>



<div th:insert = "~{common/footer :: footer}"></div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

function submitProfile(){
document.form1.submit();
return false;
}


 function upload() {
 if(document.form1.mb_file.value != " "){
 document.getElementById('target_mb_file' ).src = document.form1.mb_file.value;
 }
 modal.style.display = "none";


  }

  $('#target_mb_file2').click(function (e) {
   document.form1.mb_file.value =  document.getElementById('target_mb_file' ).src;
    e.preventDefault();
    $('#file').click();
});

//-----------------------------------------------------------------------------------

  function change_img(input){

 if (input.files && input.files[0]) {

   var reader = new FileReader();
    reader.onload = function(e) {
       document.getElementById('target_mb_file2').src = e.target.result;
       document.form1.mb_file.value =  document.getElementById('target_mb_file2' ).src;
    };
    reader.readAsDataURL(input.files[0]);

  } else {
    document.getElementById('target_mb_file').src = "/img/person-circle.svg";
  }
 }

//-----------------------------------------------------------------------------------

  var modalBtn = document.getElementById("modalBtn");
  var modal = document.getElementById("modal");
  var span = document.getElementsByClassName("close")[0];
  var upload_img = document.getElementById("upload_img");

  modalBtn.onclick = function() {
    modal.style.display = "block";
  }

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

//-----------------------------------------------------------------------------------



</script>
</html>
