<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<link type="text/css" rel="stylesheet" href="/css/common.css" />
<div th:insert = "~{common/header :: header}"></div>

<body>


<div id="section">

  <div>
    <h3 id="head"> 펜팔 찾기</h3>
  </div>

  <div id = "total" style="margin-left:320px; margin-bottom:8px;" th:text="'검색된 회원 : ' + ${total} + '명'"></div>

<div th:each="list , i : ${list}" >

  <div th:id="'modal' + ${list.mb_no}" class="modal" align="center">
    <div class="modal-content">
      <a  href="#" class = "close" th:onclick="|closing('${list.mb_no}')|">&times;</a>
      <h2 th:text="${list.mb_nick}">닉네임</h2>
      <form >
        <div class="form-group" align="center">
          <div class = "img_area_modal">
            <img th:src="@{/upload/} + ${list.mb_file}"  class="mb_file_modal" th:if ="${session.file} != ''">
            <img th:src="@{/upload/} + 'person-circle.svg'"  class="mb_file_modal" th:if ="${session.file} == ''">
          </div>
          <div>
            <textarea th:text="${list.mb_prof_content}" readonly></textarea>
          </div>
        </div>

        <span><a th:href="@{/chatMessage.do(nick2=${list.mb_nick})}"><input type="button" value = "채팅하기" class="sendMail" th:if="${session.no}!=${list.mb_no}"></a></span>
        <span><input type="button" value = "친구신청" class="sendFriend" th:if="${session.no}!=${list.mb_no}"></span>
      </form>
    </div>
  </div>


  <div class="memberList" th:onclick="|show('${list.mb_no}')|" >

    <div class="img_area">
      <img th:src="@{/upload/} + ${list.mb_file}" name="mb_file" class="mb_file"  th:if = "${list.mb_file} != ''">
      <img th:src="@{/upload/} + 'person-circle.svg'"  class="mb_file" th:if ="${session.file} == ''">
    </div>

    <input type="hidden" th:value = "${list.mb_no}">

    <div class="cont_box">

      <div >
        <ul th:class="mb_box" >
          <li th:text="${list.mb_nick}" name = "mb_nick"></li>
          <li th:if="${list.mb_sex} == '남'" style="color:royalBlue;font-weight: bold;">남성</li>
          <li th:if="${list.mb_sex} == '여'" style="color:hotPink; font-weight: bold;">여성</li>
          <li th:text="'나이 : ' + ${list.mb_bir}">나이</li>
          <li th:text="'국적 : ' + ${list.mb_country}">국적</li>
        </ul>
      </div>

      <div>
        <span th:text="${list.mb_prof_content}" class="content" readonly></span>
      </div>

  </div>

  </div>


  </div>
<div id="paging">
  <!-- 페이징 처리 한페이지에 50개씩 -->
    <a th:if = "${nowpage > 2} " th:href="@{/searchPenpalForm.do(start=${start}-${limit} * 3)}">[이전]</a>

    <a th:if = "${nowpage > 2} " th:href="@{/searchPenpalForm.do(start=${start}-${limit} * 2)}"th:text="${nowPage} - 2"></a>

    <a th:if = "${nowPage > 1} " th:href="@{/searchPenpalForm.do(start=${start}-${limit})}" th:text="${nowPage} - 1"></a>

    <a th:text="${nowPage}" style="background-color:#A2D9CE;"></a>

    <a th:if = "${nowPage < totalPage }" th:href="@{/searchPenpalForm.do(start=${start}+${limit})}" th:text="${nowPage} + 1"></a>

    <a th:if = "${nowPage +1 < totalPage }" th:href="@{/searchPenpalForm.do(start=${start}+${limit} * 2)}" th:text="${nowPage} + 2"></a>

  <a th:if = "${nowPage +1 < totalPage }" th:href="@{/searchPenpalForm.do(start=${start}+${limit} * 3)}">[다음]</a>
</div>


</div>




</body>

<div th:insert = "~{common/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

 function show(e){
  var modal = document.getElementById("modal" +e);

let opacity = 0;
 modal.style.opacity = 0;
modal.style.display = 'block';

const timer = setInterval(() => {
  opacity += 0.34;
  modal.style.opacity = opacity;
  if (opacity >= 1) {
    clearInterval(timer);
  }
}, 50);
 };


 function closing(e){
  var modal = document.getElementById("modal" +e);
  let opacity = 1;

const timer = setInterval(() => {
  opacity -= 0.34;
  modal.style.opacity = opacity;
  if (opacity <= 0) {
    clearInterval(timer);

   setTimeout(() => {
      modal.style.display = 'none';
    }, 100);
  }
}, 50);
}
</script>

</html>
