<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yoruhana.mapper.GroundMapper">

    <select id="getPostList" resultType="com.yoruhana.entity.BlogVO">
        select * from members m, blog b, blogPost p where m.mb_no = b.mb_no and b.blog_no = p.blog_no order by p.post_date desc
    </select>


</mapper>