<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoruhana.mapper.MemberMapper">

    <!--회원가입-->
    <insert id="insertJoin" parameterType="com.yoruhana.entity.MemberVO">
        insert into members (mb_country,mb_nick,mb_name, mb_id, mb_pw,mb_tel,mb_bir,mb_old , mb_stat,mb_join_date, mb_prof_stat,mb_agree1,mb_agree2,mb_see ,mb_file, mb_sex)
                    values(#{mb_country}, #{mb_nick} ,#{mb_name},#{mb_id},#{mb_pw},CONCAT(#{mb_tel1},'-',#{mb_tel2},'-',#{mb_tel3}),CONCAT(#{mb_bir1},#{mb_bir2},#{mb_bir3}),#{mb_old},0,NOW(),1,0,0,0,"person-circle.svg",#{mb_sex})
    </insert>

    <select id = "login" parameterType="com.yoruhana.entity.MemberVO" resultType="com.yoruhana.entity.MemberVO">
        select * from members where mb_id = #{mb_id} and mb_pw = #{mb_pw}
    </select>

    <select id="checkNick" parameterType="String" resultType="com.yoruhana.entity.MemberVO">
        select * from members where mb_nick = #{mb_nick}
    </select>

    <select id="checkId" parameterType="String" resultType="com.yoruhana.entity.MemberVO">
        select * from members where mb_id = #{mb_id}
    </select>

    <select id="getInfo" parameterType="int" resultType="com.yoruhana.entity.MemberVO">
        select * from members where mb_no = #{mb_no}
    </select>

    <select id="getProfPic" parameterType="int" resultType="com.yoruhana.entity.MemberVO">
        select * from membersPic where mb_no = #{mb_no}
    </select>

    <update id = "mypageUpdate" parameterType="com.yoruhana.entity.MemberVO">
        update members set mb_pw = #{mb_pw} , mb_tel = CONCAT(#{mb_tel1},'-',#{mb_tel2},'-',#{mb_tel3}) where mb_no = #{mb_no}
    </update>

    <update id ="updateProfile" parameterType="com.yoruhana.entity.MemberVO">
        update members set mb_file = #{mb_file}, mb_prof_stat = #{mb_prof_stat}, mb_prof_content = #{mb_prof_content} where mb_no = #{mb_no}
    </update>

    <select id="searchPenpalList" parameterType="com.yoruhana.entity.MemberVO" resultType="com.yoruhana.entity.MemberVO">
        SELECT * FROM members WHERE
        <if test="start_old != null and end_old !=null">
            <![CDATA[
            mb_old > (#{start_old}-1) and mb_old < (#{end_old}+1) and
            ]]>
        </if>
        <if test="searchSex != null and searchSex == 0">
            mb_sex = "남" and
        </if>
        <if test="searchSex != null and searchSex == 1">
            mb_sex = "여" and
        </if>
        <if test='searchCountry != null and searchCountry != "99"'>
            mb_country = #{searchCountry} and
        </if>
        <if test="searchPic != null and searchPic ==0 and searchPic != 99">
            mb_file != "" and mb_file is not null and mb_file != "person-circle.svg" and
        </if>
        <if test="searchPic != null and searchPic ==1 and searchPic != 99">
            mb_file = "" or mb_file = null or mb_file = "person-circle.svg" and
        </if>

         mb_prof_stat = 0 and mb_stat =0 order by mb_recent desc limit #{start},#{limit}

    </select>

    <select id = "getTotal" resultType="int">
        SELECT COUNT(mb_no) FROM members WHERE mb_prof_stat = 0 and mb_stat =0
    </select>

    <select id="getInfo_Nick" parameterType="String" resultType="com.yoruhana.entity.MemberVO">
        select * from members where mb_nick = #{mb_nick_a}
    </select>

    <select id="getMbSee" parameterType="int" resultType="int">
        select mb_see from members
        where mb_no =#{mb_no}
    </select>

    <update id="increaseSee" parameterType="int" >
        update members set mb_see = #{total} where mb_no=#{mb_no}
    </update>

    <update id="loginTime" parameterType="String">
        update members set mb_recent = #{loginT} where mb_no =#{mb_no}
    </update>

    <delete id="deleteRoom" parameterType="int">
        delete from chat_chatroom where id = #{id}
    </delete>

    <select id="lastNo" resultType="int">
        select mb_no from members order by mb_no desc limit 1
    </select>

    <insert id="insertBlog" parameterType="int">
        insert into blog
        (mb_no, blog_stat) values (#{mb_no},0)
    </insert>
    

</mapper>