body{
font-family:Arial, sans-serif;
}




/* 중복확인 버튼 스타일 */
#mb_nick + input[type="button"] {
  background-color: #A2D9CE;
  color: #fff;
  border: none;
}

.button:hover{
opacity:70%;
}


h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #283747;
  }

  /* 약관 동의 라디오 버튼 스타일 */
  input[type="radio"] {
    margin-right: 10px;
  }

  /* 선택된 라디오 버튼 스타일 */
  input[type="radio"]:checked + label {
    font-weight: bold;
  }

   th:selected {
     background-color: #F7DC6F;
   }

    /* 선택된 라디오 버튼 라벨의 마우스 호버 시 스타일 */
    label:hover {
      text-decoration: underline;
    }

