  .img_area {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-top:8px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  input[type="button"] {
    background-color: #A2D9CE;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;

  }

  .mb_file {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img_area_modal {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-top: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ccc;
  }

  .mb_file_modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .memberList {
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 160px;
    overflow: hidden;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius:15px;
  }

  .mb_box {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    margin-top:5px;
  }

  .content {
    display: block;
    width: 500px;
    max-height: 130px;
    overflow: hidden;
    padding: 5px;
    color:#888;
  }

  .mb_nick {
    font-size: 18px;
    font-weight: 700;
  }

  .mb_box li {
    font-size: 14px;
    color: #888;
  }

  .mb_box li:first-child {
    margin-right: 20px;
  }

  .mb_box li:not(:first-child)::before {
    content: "|";
    margin-right: 10px;
    color: #ddd;
  }
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }


  /* 모달 스타일 */


  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    margin-top:3%;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index:5;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
  }

  /* 폼 스타일 */
  .form-group {
    margin-bottom: 15px;
  }
  textarea{
  margin-top:15px;
  font-size:16px;
  min-height:400px;
  min-width:100%;
  max-width:100%;
  width:100%;
  border-radius:8px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  #section {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  align:center;
  margin:auto;
  margin-top: 20px;
  width:70%;
}
/* 페이징 */
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

#paging a {
font-weight:bold;
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin: 0 0.3rem;
  color: #555;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  transition: background-color 0.3s;
}

#paging a:hover {
  background-color: #f8f8f8;
}

#paging .current {
  font-weight: bold;
  color: #fff;
  background-color: #555;
  border-color: #555;
}
#head{
    background-color: #A2D9CE;
    color: #fff;
    width: 760px;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}
#total{
margin-left: 260px;
    margin-bottom: 15px;
    background-color: #A2D9CE;
    color: #fff;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1px;
}