<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chat Broadcast Product</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <link type="text/css" rel="stylesheet" href="/css/test.css" />


</head>
<style>
  #section{border:1px solid #ccc; }
  .img_box {
  width:40px;
  height:40px;
  border-radius:70%;
  overflow:hidden;
  }

  .target_mb_file{
  width:100%;
  height:100%;
  object-fit:cover;
  }

</style>
<body>
<div th:insert = "~{common/header :: header}"></div>

<div id="section" align = "center">


<input type="hidden" th:value="${mb_nick}" id="mb_nick"/>
<input type="hidden" th:value="${mb_name}" id="mb_name"/>
<input type="hidden" th:value="${mb_no}" id="mb_no"/>

<div class="chatbox"  >
  <!-- 채팅 내용 -->
  <div id="content">
    <div th:each="chatRoom : ${chatHistory}">
      <th:block th:if="${chatRoom.senderName == mb_name}" class="chat_content">
        <div class="chatbox_messages">
          <div class="chatbox_messageBox" style="text-align:right">
            <div class="chatbox_message chatRoomContent" th:text="${chatRoom.content}" style="margin-inline-start: auto;"></div>
            <div class="chatRoomSendTime" th:text="${chatRoom.sendTime}"></div>
          </div>
        </div>
      </th:block>
      
      <th:block th:if="${chatRoom.senderName != mb_name}" class="chat_content">
        <div class="chatbox_messages" style="display:flex; align-items:center;">
          <div class="img_box">
           <div><img th:src="@{/upload/}+${target_mb_file}" class ="target_mb_file" width="50px;"></div>
          </div>
          <div class="chatbox_messageBox" style="text-align:left">
            <div class="chatRoomSenderName" th:text="${chatRoom.senderName}"></div>
            <div class="chatbox_message chatRoomContent" th:text="${chatRoom.content}" style="margin-inline-end: auto;"></div>
            <div class="chatRoomSendTime" th:text="${chatRoom.sendTime}"></div>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
  <!-- 채팅 내용 끝 -->

<!-- Footer 고정 Nav 버튼 -->
<div style="width:570px;" align="center;">
  <div class="chatbox_inputPanel" style="display:flex;">
    <input type="text" id="message" class="chatbox_input" placeholder="메세지를 입력해주세요">
    <div class="chatbox__tooltip chatbox__tooltip--bottom">
      <input type="button" id="send_btn" class="button"  th:onclick="'send()'" value="전송하기">
    </div>
  </div>
    <input type="hidden" th:value="${chatRoomInfo.mb_nick_a}" id="mb_nick_a" />
    <input type="hidden" th:value="${chatRoomInfo.mb_name_a}" id="mb_name_a" />
    <input type="hidden" th:value="${chatRoomInfo.id}" id="id" />
    <input type="hidden" th:value="${chatRoomInfo.mb_nick_b}" id="mb_nick_b" />
    <input type="hidden" th:value="${chatRoomInfo.mb_name_b}" id="mb_name_b" />

</div>
  </div>

<div th:insert = "~{common/footer :: footer}"></div>
</body>



<script th:inline="javascript">
	
	function scroll_go(){
$('#content').scrollTop($('#content')[0].scrollHeight);
	}
	
	$( document ).ready(function() {
		scroll_go();
    });
	
	var mb_nick = $('#mb_nick').val();
	var user_type = $('#user_type').val();
		var stompClient = null;
		var mb_nick_a = $('#mb_nick_a').val();
		var mb_name_a = $('#mb_name_a').val();
		var mb_name_b = $('#mb_name_b').val();
		var id = $('#id').val();
		var mb_nick_b = $('#mb_nick_b').val();	
		var senderName = $('#mb_name').val();
		var senderId = $('#mb_no').val();
		
		$(document).ready(connect());
		$(document).ready(chatReadInterval());
		
		function connect() {

			var socket = new SockJS('/broadcast');
			var url = '/topic/' + id + '/queue/messages';

				stompClient = Stomp.over(socket);

				stompClient.connect({}, function() {

					stompClient.subscribe(url, function(output) {

						showBroadcastMessage(createTextNode(JSON.parse(output.body)));

					});
					}, 

							function (err) {
								alert('서버와의 연결이 끊겼습니다. ' + err);
				});
		
		};

		function sendBroadcast(json) {
			stompClient.send("/app/broadcast", {}, JSON.stringify(json));
			
		}
		

		function send() {

		var content_origin = $('#message').val();
			var content = content_origin.replace(/(<([^>]+)>)/ig,"");
			sendBroadcast({
				'id': id,
				'content': content,
				'mb_name_a': mb_name_a,
				'mb_name_b': mb_name_b,
				'mb_nick_a': mb_nick_a,
				'mb_nick_b': mb_nick_b,
				'senderName': senderName,
				'senderNick': mb_nick
				});
			$('#message').val("");
		}

		var inputMessage = document.getElementById('message'); 
		inputMessage.addEventListener('keyup', function enterSend(event) {
			
			if (event.keyCode === null) {
				event.preventDefault();
			}
			
			if (event.keyCode === 13) {
				send();
			}
		});

		function createTextNode(messageObj) {
			
			let mb_name = $("#mb_name").val();
			
			var origin_time = messageObj.sendTime;
			var time = origin_time.substring(0,5);

			if (mb_name == messageObj.senderName){
				return '<div class="chatbox_messages"><div class="chatbox_messageBox" style="text-align: right" class="chatRoomSenderName">'+
	            '<div class="chatbox_message chatRoomContent" style="margin-inline-start: auto;">' +
	            messageObj.content+
	            '</div><div class="chatRoomSendTime">' +
	            time +
	            '</div></div></div>';	
			} else {
				return '<div class="chatbox_messages"><div class="chatbox_messageBox" style="text-align: left" class="chatRoomSenderName"><div>' +
	            messageObj.senderName +            
	            '</div><div class="img_box">' +
                '<div><img th:src="@{/upload/}+${target_mb_file}" class ="target_mb_file""></div>' +
                '</div><div class="chatbox_message chatRoomContent" style="margin-inline-end: auto;">' +
	            messageObj.content+
	            '</div><div class="chatRoomSendTime">' +
	            time +
	            '</div></div></div>';
			}
        }


		function showBroadcastMessage(message) {
            $("#content").html($("#content").html() + message);
            scroll_go();
        }

		function chatReadInterval() {
	 		setInterval(() => {
	 			ajaxChatRead(mb_nick);
			}, 1000);
	 	}

		function ajaxChatRead(reader) {
  console.log("a로 저장된 사람" +mb_nick_a);
  console.log("읽은사람(로그인한 사람)" +reader);
			var flag = "";
			if (reader == mb_nick_a) {
				flag = "mb_nick_a";
			} else {
				flag = "mb_nick_b";
			}

			$.ajax({
				url:'/chatread.do',
				type: 'POST',
				data: JSON.stringify({
					id: id,
					flag: flag
				}),
				dataType: 'json',
				contentType: 'application/json'
			})

		}

	
	</script>

</html>
